# 1 Demostración de Importación de tablas

In [1]:
import pandas as pd
from string import ascii_uppercase as alphabet #se importa el alfabeto en mayúsculas
import pickle

In [2]:
todas_tablas = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [3]:
# A -> H
# 9 -> 7 * 8 + 9 = 65
todas_tablas[9]
todas_tablas[16]
todas_tablas[23]

,Pos,Teamvte,Pld,W,D,L,GF,GA,GD,Pts,Qualification
0,1,Argentina,3,2,0,1,5,2,+3,6,Advanced to knockout stage
1,2,Poland,3,1,1,1,2,2,0,4,Advanced to knockout stage
2,3,Mexico,3,1,1,1,2,3,−1,4,NaN
3,4,Saudi Arabia,3,1,0,2,3,5,−2,3,NaN

In [4]:
# Demostración de función zip en un bucle for
for letter, i in zip(alphabet, range (9, 65, 7)):
    print(letter, i)

A 9
B 16
C 23
D 30
E 37
F 44
G 51
H 58

# 2 Extrayendo y limpiando grupos 2022

In [5]:
def clear_group(df):
    # Cambiamos el nombre de la columna 'Teamvte' a 'Team'
    # Se utiliza df.columns[1] para ubicar la columna 'Teamvte' ya que no en todas las tablas se denomina igual
    df.rename(columns={df.columns[1]: 'Team'}, inplace=True)
    
    for col in df.columns[2:]:
        df[col].values[:] = 0
    
    return df

In [6]:
dict_grupos = {} 
for letter, i in zip(alphabet, range (9, 65, 7)): #zip permite trabajar con dos parámetros a la vez, en este caso el alfabeto
    df = todas_tablas[i]
    df = clear_group(df)
    
    #La columna 'Qualification' es igual en todas las tablas, por lo que no es necesario ubicarla por su posición
    df.pop('Qualification')
    #Creación del diccionario con los nombre de los grupos asignados de forma dinámica
    dict_grupos[f'Group {letter}'] = df

In [7]:
dict_grupos['Group H']

   Pos         Team  Pld  W  D  L  GF  GA GD  Pts
0    1     Portugal    0  0  0  0   0   0  0    0
1    2  South Korea    0  0  0  0   0   0  0    0
2    3      Uruguay    0  0  0  0   0   0  0    0
3    4        Ghana    0  0  0  0   0   0  0    0

In [8]:
# Exportación del diccionario mediante la librería "pickle"
with open ('DictGroups2022', 'wb') as output: #with open (name_of_export, write_mode)
    pickle.dump(dict_grupos, output)