# 3 Dataframes (Parte 2)

In [51]:
import pandas as pd

In [52]:
datos = {
    "nombre":       ["Argentina", "Brasil", "Chile", "Colombia", "Ecuador", "Paraguay", "Peru"],
    "capital":      ["Buenos Aireaaa", "Brasilia", "Santiago de Chile", "Bogotá", "Quito", "Asunción", "Lima"],
    "poblacion":    [45380000, 212600000, 19120000, 50880000, 17640000, 7133000, 32970000],
    "sup. en km2": [2780000, 8516000, 756950, 1143000, 283560, 406752, 1285216],
}

In [53]:
paises3 = pd.DataFrame(datos, index=datos["nombre"], columns=["capital", "poblacion", "sup. en km2"])
paises3

                     capital  poblacion  sup. en km2
Argentina     Buenos Aireaaa   45380000      2780000
Brasil              Brasilia  212600000      8516000
Chile      Santiago de Chile   19120000       756950
Colombia              Bogotá   50880000      1143000
Ecuador                Quito   17640000       283560
Paraguay            Asunción    7133000       406752
Peru                    Lima   32970000      1285216

**Ejercicio 14:** Corregir el nombre de la capital Argentina a "Buenos Aires" utilizando la función loc

In [54]:
paises3.loc["Argentina", "capital"] = "Buenos Aires"
paises3.loc["Argentina", "capital"]

'Buenos Aires'

**Ejercicio 15:** Utilizar los datos de la fila en la tercera posición utilizando la función "iloc"

In [55]:
paises3.iloc[2]

capital        Santiago de Chile
poblacion               19120000
sup. en km2               756950
Name: Chile, dtype: object

In [56]:
# Obtener los datos en la segunda posición utilizadno iloc
paises3.iloc[:, 1]

Argentina     45380000
Brasil       212600000
Chile         19120000
Colombia      50880000
Ecuador       17640000
Paraguay       7133000
Peru          32970000
Name: poblacion, dtype: int64

**Ejercicio 16:** Obtener los datos de la fila en la tercera y cuarta posición utilizando iloc

In [57]:
paises3.iloc[[2,3]]

                    capital  poblacion  sup. en km2
Chile     Santiago de Chile   19120000       756950
Colombia             Bogotá   50880000      1143000

**Ejercicio 17:** Obtener el nombre de las columnas en el DataFrame

In [58]:
paises3.columns

Index(['capital', 'poblacion', 'sup. en km2'], dtype='object')

**Ejercicio 18:** Obtener la columna "población" con la notación del punto

In [59]:
paises3.poblacion

Argentina     45380000
Brasil       212600000
Chile         19120000
Colombia      50880000
Ecuador       17640000
Paraguay       7133000
Peru          32970000
Name: poblacion, dtype: int64

In [60]:
# Obtener los valores de la columna "poblacion"
paises3.poblacion.values

array([ 45380000, 212600000,  19120000,  50880000,  17640000,   7133000,
        32970000], dtype=int64)

In [61]:
# Obtener el nombre de la columna "poblacion"
paises3.poblacion.name

'poblacion'

**Ejercicio 19:** Obtener valor mínimo, máximo y desviación estándar de la columna "poblacion"

In [62]:
paises3["poblacion"].min()

7133000

In [63]:
paises3["poblacion"].max()

212600000

In [64]:
paises3["poblacion"].std()

71188621.18043464

**Ejercicio 20:** Obtener un DataFrame con las columnas población y capital

In [65]:
paises3[["capital", "poblacion"]]

                     capital  poblacion
Argentina       Buenos Aires   45380000
Brasil              Brasilia  212600000
Chile      Santiago de Chile   19120000
Colombia              Bogotá   50880000
Ecuador                Quito   17640000
Paraguay            Asunción    7133000
Peru                    Lima   32970000

**Ejercicio 20:** Obtener únicamente los datos de los paises con una población mayor a 50M

In [66]:
paises3.loc[paises3["poblacion"] > 50000000]

           capital  poblacion  sup. en km2
Brasil    Brasilia  212600000      8516000
Colombia    Bogotá   50880000      1143000

**Ejercicio 21:** Agregar una columna al DataFrame "paises" que contenga la población en millones de habitantes

In [67]:
paises3["pob. en millones"] = paises3["poblacion"]/1000000
paises3

                     capital  poblacion  sup. en km2  pob. en millones
Argentina       Buenos Aires   45380000      2780000            45.380
Brasil              Brasilia  212600000      8516000           212.600
Chile      Santiago de Chile   19120000       756950            19.120
Colombia              Bogotá   50880000      1143000            50.880
Ecuador                Quito   17640000       283560            17.640
Paraguay            Asunción    7133000       406752             7.133
Peru                    Lima   32970000      1285216            32.970

Volver a agregar una columna al DataFrame paises que contenga la población en millones de habitantes, utilizando la función apply

In [68]:
def millones(x):
    return x / 1000000

paises3["pob. en millones"] = paises3["poblacion"].apply(millones)

**Ejercicio 22:** Agregar una columna al DataFrame paises que contenga la población por cada Km2 de superficie, utilizando la función apply

In [77]:
def densidad(df):
    return df["poblacion"] / df["sup. en km2"]

paises3["densidad pob."] = paises3.apply(densidad, axis=1)
paises3

,capital,poblacion,sup. en km2,pob. en millones,densidad,densidad pob.
Argentina,Buenos Aires,45380000,2780000,45.380,16.323741,16.323741
Brasil,Brasilia,212600000,8516000,212.600,24.964772,24.964772
Chile,Santiago de Chile,19120000,756950,19.120,25.259264,25.259264
Colombia,Bogotá,50880000,1143000,50.880,44.514436,44.514436
Ecuador,Quito,17640000,283560,17.640,62.209056,62.209056
Paraguay,Asunción,7133000,406752,7.133,17.536484,17.536484
Peru,Lima,32970000,1285216,32.970,25.653275,25.653275

In [78]:
# Eliminando la columna "densidad"
paises3 = paises3.drop("densidad", axis=1)
paises3

,capital,poblacion,sup. en km2,pob. en millones,densidad pob.
Argentina,Buenos Aires,45380000,2780000,45.380,16.323741
Brasil,Brasilia,212600000,8516000,212.600,24.964772
Chile,Santiago de Chile,19120000,756950,19.120,25.259264
Colombia,Bogotá,50880000,1143000,50.880,44.514436
Ecuador,Quito,17640000,283560,17.640,62.209056
Paraguay,Asunción,7133000,406752,7.133,17.536484
Peru,Lima,32970000,1285216,32.970,25.653275

# 4 Guardando el DataFrame en archivos

**Ejercicio 23:** Guardar el DataFrame en formato pickle y leerlo

In [79]:
paises3.to_pickle("./pickle_test")

In [81]:
pd.read_pickle("./pickle_test")

,capital,poblacion,sup. en km2,pob. en millones,densidad pob.
Argentina,Buenos Aires,45380000,2780000,45.380,16.323741
Brasil,Brasilia,212600000,8516000,212.600,24.964772
Chile,Santiago de Chile,19120000,756950,19.120,25.259264
Colombia,Bogotá,50880000,1143000,50.880,44.514436
Ecuador,Quito,17640000,283560,17.640,62.209056
Paraguay,Asunción,7133000,406752,7.133,17.536484
Peru,Lima,32970000,1285216,32.970,25.653275

**Ejercicio 24:** Guardar el DataFrame paises en formato .csv y leerlo

In [82]:
paises3.to_csv("./csv_test")

In [85]:
pd.read_csv("./csv_test")

,Unnamed: 0,capital,poblacion,sup. en km2,pob. en millones,densidad pob.
0,Argentina,Buenos Aires,45380000,2780000,45.380,16.323741
1,Brasil,Brasilia,212600000,8516000,212.600,24.964772
2,Chile,Santiago de Chile,19120000,756950,19.120,25.259264
3,Colombia,Bogotá,50880000,1143000,50.880,44.514436
4,Ecuador,Quito,17640000,283560,17.640,62.209056
5,Paraguay,Asunción,7133000,406752,7.133,17.536484
6,Peru,Lima,32970000,1285216,32.970,25.653275

**Ejercicio 25:** Guardar el DataFrame paises en formato .xlsx y leerlo

In [87]:
# Al guardar en formato excel, es necesario expecificar: la extensión, el nombre
# de la hoja y el nombre de los indices
paises3.to_excel("./excel_test.xlsx", sheet_name="paises", index_label="Pais")

In [88]:
pd.read_excel("./excel_test.xlsx", sheet_name="paises", index_col="Pais")

,capital,poblacion,sup. en km2,pob. en millones,densidad pob.
Pais,,,,,
Argentina,Buenos Aires,45380000,2780000,45.380,16.323741
Brasil,Brasilia,212600000,8516000,212.600,24.964772
Chile,Santiago de Chile,19120000,756950,19.120,25.259264
Colombia,Bogotá,50880000,1143000,50.880,44.514436
Ecuador,Quito,17640000,283560,17.640,62.209056
Paraguay,Asunción,7133000,406752,7.133,17.536484
Peru,Lima,32970000,1285216,32.970,25.653275